body{
    background-color: #2D2D2D;
}

div{
    color: white;
}

div#game{
    display: block;
    margin: auto;
    width: 800px;
}

canvas#renderer{
    border: solid 1px white;
    display: block;
    width: 800px;
    height: 600px;
}

div#gui{
    display: block;
    position: relative;
}

div#stats{
    margin-top: 6px;
    position: absolute;
    display: inline;
    text-align: right;
    right: 0;
}

div#inventory{
    margin-top: 6px;
    left: 0;
    position: absolute;
    display: inline-block;
}

div.inventorySlot{
    border: solid 1px white;
    display: inline-block;
    width: 64px;
    height: 64px
}
div.inventorySlot button{
    background-size: contain;
    background-color: black;
    margin: 0px;
    width: 64px;
    height: 64px
    
}

#inventorySelectedDetails{
    text-align: center;
    margin-top: 0;
}

div.inventorySlot button:focus {
    outline: none;
    box-shadow: none;
}

h1{
    text-align: center;
    color: white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}