body{
    background-color: #2D2D2D;
}

div{
    color: white;
}

div#game{
    margin: auto;
    border: solid 1px white;
    width: 800px;
    height: 600px;
}

canvas{
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    color: white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}